<div
  class="Card__BaseCard-sc-b3n78k-0 dUNFgg NewProductCard__DetailCard_Desktop-sc-j0e7tu-2 fqvaeS NewProductCard__DetailCard_Desktop-sc-j0e7tu-2 fqvaeS"
  color="white"
>
  <p color="greyT2" font-size="16px" font-weight="book">
    Latest Motorcycle Covers
  </p>
  <div
    class="Card__BaseCard-sc-b3n78k-0 iLPHgK NewProductCard__PriceRow-sc-j0e7tu-5 eyya-Dr NewProductCard__PriceRow-sc-j0e7tu-5 eyya-Dr"
    color="white"
  >
    <h5
      color="greyBase"
      font-size="24px"
      font-weight="bold"
      class="Text__StyledText-sc-oo0kvp-0 hiHdyy"
    >
      ₹66
    </h5>
    <p
      color="greyT2"
      font-size="16px"
      font-weight="book"
      class="Text__StyledText-sc-oo0kvp-0 hpXvds Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 hEkmRy"
    >
      ₹77
    </p>
    <span
      color="greenBase"
      font-size="16px"
      font-weight="demi"
      class="Text__StyledText-sc-oo0kvp-0 lnonyH"
      >14% off</span
    >
  </div>
  <div
    class="Card__BaseCard-sc-b3n78k-0 iJCKg NewProductCard__DiscountRow-sc-j0e7tu-15 kUcVjG NewProductCard__DiscountRow-sc-j0e7tu-15 kUcVjG"
    color="white"
  >
    <svg
      viewBox="0 0 16 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      height="16"
      width="16"
      color="greenT2"
      iconSize="20"
      class="Icon-sc-1iwi4w1-0 jabcjO"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M13.833 5.733c0 .186 1.006 1.745 1.006 1.745.215.312-.844 2.27-.844 2.27-.105.151-.168 2.029-.168 2.029-.001.385-1.961 1.317-1.961 1.317-.17.058-1.276 1.54-1.276 1.54-.218.31-2.328-.139-2.328-.139-.17-.057-1.898.462-1.898.462-.352.118-1.806-1.541-1.806-1.541-.105-.151-1.796-.793-1.796-.793-.35-.12-.595-2.356-.595-2.356 0-.186-1.005-1.744-1.005-1.744-.215-.312.844-2.271.844-2.271.104-.151.167-2.029.167-2.029.002-.385 1.962-1.317 1.962-1.317.17-.058 1.275-1.54 1.275-1.54.218-.31 2.089.353 2.089.353.17.058 2.138-.676 2.138-.676l1.805 1.541c.106.151 1.797.793 1.797.793.35.12.594 2.356.594 2.356zM6.761 6.761a.875.875 0 11-1.238-1.237.875.875 0 011.238 1.237zm2.865-1.236a.6.6 0 11.848.849l-4.101 4.1a.6.6 0 11-.849-.848l4.102-4.1zm.846 4.95a.875.875 0 11-1.238-1.238.875.875 0 011.238 1.237z"
        fill="#06A759"
      ></path>
    </svg>
    <p
      color="greyT1"
      class="Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm"
      font-size="16px"
      font-weight="book"
    >
      ₹11 discount on 1st order
    </p>
  </div>
  <div
    class="Card__BaseCard-sc-b3n78k-0 dpAIfg NewProductCard__BadgeRow-sc-j0e7tu-13 ezFwfg NewProductCard__BadgeRow-sc-j0e7tu-13 ezFwfg"
    color="white"
  >
    <div class="Badge__StyledBadge-sc-1o15k3y-0 dSqlNm">
      <span
        color="greyT1"
        class="Text__StyledText-sc-oo0kvp-0 iFGSag NewProductCard__OfferedShipping_Desktop-sc-j0e7tu-12 kMqMcw NewProductCard__OfferedShipping_Desktop-sc-j0e7tu-12 kMqMcw"
        font-size="12px"
        font-weight="demi"
        >Delivery ₹68</span
      ><span
        color="greyT1"
        class="Text__StyledText-sc-oo0kvp-0 iFGSag NewProductCard__M_OriginalShipping_Desktop-sc-j0e7tu-10 gYmbIn NewProductCard__M_OriginalShipping_Desktop-sc-j0e7tu-10 gYmbIn"
        font-size="12px"
        font-weight="demi"
        >₹70</span
      >
    </div>
  </div>
  <div
    class="Card__BaseCard-sc-b3n78k-0 iLPHgK NewProductCard__RatingsRow-sc-j0e7tu-6 eMjfeh NewProductCard__RatingsRow-sc-j0e7tu-6 eMjfeh"
    color="white"
  >
    <div class="NewProductCard__RatingSection-sc-j0e7tu-7 lhYwbE">
      <span label="4.1" class="Rating__StyledPill-sc-5nayi4-0 cLCHWA"
        ><span
          color="#ffffff"
          font-size="16px"
          font-weight="demi"
          class="Text__StyledText-sc-oo0kvp-0 gYxLUd"
          >4.1</span
        ><svg
          width="8"
          height="8"
          viewBox="0 0 20 20"
          fill="#ffffff"
          xmlns="http://www.w3.org/2000/svg"
          ml="4"
          iconSize="10"
          class="Icon-sc-1iwi4w1-0 ejrYQc"
        >
          <g clip-path="url(#star_svg__clip0)">
            <path
              d="M19.54 6.85L13.62 5.5 10.51.29a.596.596 0 00-1.02 0L6.38 5.5.46 6.85a.599.599 0 00-.31.98l3.99 4.57-.55 6.04c-.02.21.07.41.24.54.17.12.39.15.59.07L10 16.64l5.58 2.39c.08.03.16.05.23.05h.01c.3.01.6-.26.6-.6 0-.06-.01-.12-.03-.17l-.54-5.93 3.99-4.57c.14-.16.18-.38.12-.58a.544.544 0 00-.42-.38z"
              fill="#666"
            ></path>
          </g>
          <defs>
            <clipPath id="star_svg__clip0">
              <path fill="#fff" d="M0 0h20v19.08H0z"></path>
            </clipPath>
          </defs></svg></span
      ><span
        color="greyT2"
        class="Text__StyledText-sc-oo0kvp-0 fMjoAc NewProductCard__RatingCount-sc-j0e7tu-18 iOAYZA NewProductCard__RatingCount-sc-j0e7tu-18 iOAYZA"
        font-size="12px"
        font-weight="demi"
        >214 Reviews</span
      >
    </div>
  </div>
</div>
